<div class="container">
  <p class="flash"><%= notice %><%= alert %></p>
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

    <h1>投稿一覧</h1>

    <% @pictures.each do |picture| %>
    <div class="row picture_box">
      <h4><strong><%= picture.title %></strong></p>
      <p><%= picture.user.name %></p>
      <%= picture_img(picture) if picture_img(picture) %>
      <p><%= picture.content %></p>
      <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", picture_path(picture.id), data: {confirm: '本当に削除していいですか？'}, method: :delete, class: 'btn btn-default btn-sm btn-danger' %>
    </div>
    <% end %>
  </div>
</div>
